<apex:component controller="ElencoLinkEdizioniDigitaliController" access="global">
    <apex:attribute name="outputHTML" assignTo="{!enableHTML}" description="Se a True, l'output sarà in formato HTML" type="Boolean" required="true" access="global" />
    <apex:attribute name="language" assignTo="{!langCode}" description="Codice della lingua utilizzata (e.g 'it')" type="String" required="true" access="global" />
    
    <apex:outputText rendered="{! NOT(enableHTML) }" >
        <apex:repeat value="{! EdizioniDigitali }" var="link">
            <apex:outputText >
                {! link.Testata__c }: {! IF(LOWER(language) = 'it', link.Italian__c, link.English__c) }
            </apex:outputText>
        </apex:repeat>
        
        {! $Label.Edizione_Digitale_Non_Disponibile }
    </apex:outputText>
    <apex:outputText rendered="{! enableHTML }" >
        <ul style="list-style-type:none;text-align:left; padding: 0; margin: 0;">
            <apex:repeat value="{! EdizioniDigitali }" var="link">
                <li><a href="{! IF(LOWER(language) = 'it', link.Italian__c, link.English__c) }" target="_blank"><b>{! link.Testata__c }</b></a></li>
            </apex:repeat>
            <li style="margin-top:10px; white-space: pre-wrap;"><i>{! $Label.Edizione_Digitale_Non_Disponibile }</i></li>
        </ul>
    </apex:outputText>
</apex:component>