<apex:page standardController="Task" extensions="AddAttachmentExtension" action="{!checkPermission}">

	<apex:pageMessage summary="{!errorMessage}" severity="warning" strength="3" rendered="{!errorAttachment}" />

    <apex:form rendered="{!isError}" >
    	<apex:pageBlock >
    		<apex:pageMessages />
    		<apex:pageBlockButtons location="bottom">
        		<apex:commandButton value="Indietro" action="{!back}" />
    		</apex:pageBlockButtons>
		</apex:pageBlock>
    </apex:form>
	
	<apex:sectionHeader title="Incarico" subtitle="{!Task.Subject}" rendered="{!!isError}" />

	<apex:form rendered="{!!isError}" >
		<apex:pageBlock title="Aggiungi Allegato">

			<apex:pageBlockButtons >
				<apex:commandButton value="Salva" action="{!uploadAttachment}" />
				<apex:commandButton value="Indietro" action="{!back}" />
			</apex:pageBlockButtons>

			<apex:pageBlockSection >
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="File" />
				  	<apex:inputFile value="{!file.body}" filename="{!file.name}" />
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>

		</apex:pageBlock>
    </apex:form>

</apex:page>