<apex:page standardController="zqu__Quote__c" extensions="DeleteQuoteController" action="{!cancelQuote}">

	<apex:pageMessage summary="{!errorMessage}" severity="warning" strength="3" rendered="{!inError}" />
	<apex:pageMessages />
	<apex:form id="formError" rendered="{!inError}">
        <apex:commandButton value="Indietro" action="{!returnPage}" rendered="{!inError}" style="margin-left:2%;"/>
  	</apex:form>

</apex:page>