<apex:page standardController="Case" extensions="SollecitoCaseExtension" >
    <apex:outputField value="{!Case.Numero_Solleciti__c}" rendered="false" />
    
    <apex:variable value="{! $User.Id == Case.OwnerId }" var="isSameOwner" />
    <apex:pageMessages ></apex:pageMessages>
    <apex:sectionHeader title="Sollecito" subtitle="{!Case.CaseNumber}" />
    

    <apex:form >
        <apex:pageblock >
            <apex:pagemessage severity="Info" strength="2" summary="{!msg}" />
            <apex:pagemessage severity="Warning" strength="2" summary="Non è possibile sollecitare un Caso di cui si è titolare" rendered="{!isSameOwner}" />
            <apex:pagemessage severity="Warning" strength="2" summary="Non è possibile sollecitare un Caso chiuso" rendered="{!Case.IsClosed}" />
            
            <apex:pageblockButtons location="bottom" >
                <apex:commandButton value="Annulla" action="{!cancel}" />
                <apex:commandButton value="Sollecita" rendered="{!NOT(isSameOwner) && NOT(Case.IsClosed)}" action="{!save}" />
            </apex:pageblockButtons>
        </apex:pageblock>

            

    </apex:form>
    
</apex:page>